.navtop {
    width: 100%;
    height: 52px;
    background: #fff;
}

.navtop .logo {
    width: 108.5px;
    margin-left: 15px;
    margin-top: 8px;
    line-height: 20px;
    float: left;
}

.navtop .logo>img {
    width: 100%;
}

.navtop a {
    float: right;
    text-decoration: none;
    line-height: 32px;
    margin-top: 10px;
}

.navtop .userinf {
    color: #128bed;
    margin-right: 15px;
}

.navtop .app-btn {
    width: 74px;
    background: #128bed;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
}

.navtop .app-btn:after {
    content: " ";
    width: 1px;
    background: #eee;
    height: 24px;
    position: absolute;
    margin-left: 21px;
    margin-top: 4px;
}

.navtop .logo-zx {
    width: 88px;
    margin-top: 8px;
    margin-left: 8px;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #128bed;
    border-color: #128bed;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #128bed;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eee;
    margin-left: 5px;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #eee;
    border-top-color: rgb(238, 238, 238);
    border-right-color: rgb(238, 238, 238);
    border-bottom-color: rgb(238, 238, 238);
    border-left-color: rgb(238, 238, 238);
}